@model IEnumerable<GestionFacturas.Models.Factura>

@{
    ViewData["Title"] = "Lista de Facturas";
    Layout = "_Layout";
}

<div class="container mt-4">
    <h1 class="display-4">Lista de Facturas</h1>
    <p>
        <a href="/Facturas/Create" class="btn btn-primary">Crear Nueva Factura</a>
    </p>

    <div class="table-responsive">
        <table class="table table-hover table-bordered shadow-sm">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NumeroFactura)</th>
                    <th>@Html.DisplayNameFor(model => model.FechaVencimiento)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NumeroFactura)</td>
                        <td>@Html.DisplayFor(modelItem => item.FechaVencimiento)</td>
                        <td>
                            @if (item.Estado == "Vencida")
                            {
                                <span class="badge bg-danger">@item.Estado</span>
                            }
                            else if (item.Estado == "Próxima a vencer")
                            {
                                <span class="badge bg-warning text-dark">@item.Estado</span>
                            }
                            else
                            {
                                <span class="badge bg-success">@item.Estado</span>
                            }
                        </td>
                        <td>
                          
                            <a href="@Url.Action("Edit", "Facturas", new { id = item.Id })" class="btn btn-sm btn-outline-primary">Editar</a>
                            <a href="@Url.Action("Details", "Facturas", new { id = item.Id })" class="btn btn-sm btn-outline-info">Detalles</a>
                            <a href="@Url.Action("Delete", "Facturas", new { id = item.Id })" class="btn btn-sm btn-outline-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>